{% extends 'base.html.twig' %}

{% block body %}

	<div class="panel panel-primary">
      <div class="panel-heading">Contact Hotel Reservation</div>
      <div class="panel-body">
      	<p>
         You can contact Hotel Reservation by just sending an email to the address: <b>root@localhost</b> 
        </p>
      </div>
    </div>

{% endblock %}

{% block contact_active %}active{% endblock %}