{% extends 'base.html.twig' %}

{% block body %}

	<div class="panel panel-primary">
      <div class="panel-heading">About Hotel Reservation</div>
      <div class="panel-body">
      	<p>
         Hotel Reservation is a simple Web App built with Symfony v3.2.2 framework. Hope you enjoy it. 
        </p>
      </div>
    </div>

{% endblock %}

{% block about_active %}active{% endblock %}